.test {
  margin: 50px auto;
}
.pagination {
  margin: 30px 0;
  display: flex;
  color: #7b7b7b;
  display: flex;
  justify-content: center;
}

.pagination-item-box {
  display: flex;
}

.block {
  min-width: 33px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  box-sizing: border-box;
	background-color: #eff1f5;
	border-radius: 4px;
	border: solid 1px #d2d2d2;
  margin-right: 8px;
  cursor: pointer;
}

.block:hover {
  color: #3f43e0;
}
